<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Score Sheets</title>
</head>
<body>
    <form action="/submit",method ="post">

        <h2>HTML FORM</h2>
        <label for="Science">Science:</label></br>
        <input type ="text" id="science" name ="Science" value = " "><br>
        <label for ="Maths">Mathmatics:</label><br>
        <input type ="text" id ="maths"name="Maths"value = " "></label><br>
        <label for ="Data_Science">Data Science:</label><br>
        <input type ="text" id ="data_science" name ="Data Science" value =" "> <br>
        <lable for ="Statistics">Statistics:</lable><br>
        <input type="text" id="statistics" name ="statistics" value =" "></input><br>
        <br>
        <input type ="submit"  value="Submit" ><br>
    </form>
<p> 
    If You Click the Submit Button  The Form -data will be sent into a page called <"/submit>
</p>
</body>
</html>